header > hr{
    width:60%;
    
}

h4 > hr{
    width:200px
    
}

.first {
    padding-left:30px;
    width:15%;
    font-size:2em;
    text-align: center;
    position: relative;
    bottom:168px;
    display:inline-block;
}

article {
    display: inline-block;
}

 .second img{
 margin: 20px 0 0 50px;
 padding-right:30px;
 padding-bottom:80px;
}

        

.third{
    position: relative;
    bottom:180px;
    text-align: center;
    width:40%;
    font-size:2em;
    display:inline-block;
}

.picture {

    float: right;
}

main {
    display: block;
    position: relative;
    margin: 0 auto;
    width:1920px;
}